* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html, body {
  font-family: 'Roboto', sans-serif
}

body {
  padding-top: 55px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  border: 0;
  background: none;
}

.headline-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 900px;

  flex: 1 0;
}

.headline-container .headline {
  margin-bottom: 20px;
}

.headline-container .headline:first-child {
  margin-top: 20px;
}

.headline {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.headline a.title {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.headline a.title:hover {
  text-decoration: underline;
}

.headline > * {
  margin: 10px;
}

.headline figure {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  max-width: 600px;
  min-width: 300px;
}

.headline .title {
  margin-top: 5px;
}

.headline .headline-source {
  font-weight: 300;
  font-size: 0.9rem;
}

.headline .description {
  margin-top: 10px;
}

.headline .content {
  padding-bottom: 12px;
}

.headline .content-toggle {
  display: block;
  text-decoration: none;
  margin-left: auto;
  height: 30px;
  width: 100px;
}

.headline .content-toggle:hover {
  cursor: pointer;
}

.headline img {
  border-radius: 3px;
  display: block;
  height: 250px;
  height: auto;
  width: 100%;
}

.headline .headline-text {
  flex: 1 0;
  min-width: 300px;
}

.headline .image-link {
  display: block;
  height: auto;
  width: 100%;
}

.headline .full-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.headline.hidden {
  transform: translateX(-100vw);
  transition: transform 0;
}

.headline {
  transform: translateX(0);
  transition: transform .4s ease-out;
}

footer {
  margin-top: auto;
  padding: 5px 0;
  display: flex;
}

footer p {
  margin-right: 20px;
  margin-left: 20px;
}

footer a {
  margin-right: 20px;
}

header {
  position: fixed;
  top: 0;
  max-height: 100vh;
  overflow: auto;
  width: 100%;
  z-index: 2;
}

header h1 {
  padding: 5px 25px;
  background-color: #ffdada;
}
