* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html, body {
  font-family: 'Roboto', sans-serif
}

body {
  padding-top: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 0;
  background: none;
}

footer {
  margin-top: auto;
  padding: 5px 0;
  display: flex;

  a {
    margin-right: 20px;
  }

  p {
    margin-right: 20px;
    margin-left: 20px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: auto;
  width: 100%;
  z-index: 2;

  h1 {
    padding: 5px 25px;
    background-color: #ffdada;
  }
}
